html, body {
    background-color: #0c0c0c;
    color: #cccccc;
    font-family: 'Courier New', monospace;
    padding: 20px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#output {
    white-space: pre-wrap;
}
#inputLine {
    display: flex;
    align-items: center;
}
#prompt {
    margin-right: 5px;
}
#input {
    color: #cccccc;
    background-color: #0c0c0c;
    border: none;
    outline: none;
    width: 100%;
    font-family: 'Courier New', monospace;
}
#small-font {
    font-size: 8px; /* Adjust the font size as needed */
  }
  
  #help-text {
    font-size: 3.0em;
}

/* Responsive font size for smaller screens */
@media only screen and (max-width: 900px) {
    #help-text {
        font-size: 3.0em; /* Adjust the size as necessary */
    }
}
@media only screen and (max-width: 900px) {
    #output {
    font-family: 'Courier New', Courier, monospace; /* monospace font */
    white-space: pre; /* preserves spaces and line breaks */
    word-wrap: break-word; /* allows long lines to break and go to the next line */
    font-size: 0.7em; /* responsive font size */
}
    #prompt {
        margin-right: 1.0em;
        font-size: 1.0em;
    }
    #input {
        font-size: 0.9em; /* Adjust input font size */
    }
}
